<!DOCTYPE html>

<html>

  {{ partial "head" }}

  <body>
    <div id="page">
      {{ partial "header" }}

      {{ partial "menu" . }}
      <div id="content">
        <div id="post">
          <a class="simplelink back" href="/">Back</a>

          <p class="container">
            <span class="title">{{ .Title | title }}</span>
            <span class="date">/{{ .Date.Format "2 Jan 2006" }}/</span>
          </p>

          <p class="tags">
            {{ range $tag := .Params.tags }}
            <span>{{ $tag }}</span>
            {{ end }}
          </p>

          <div id="post">
            {{ .Content }}
          </div>
        </div>
      </div>

    </div>
    <footer>
      {{ partial "footer" }}
    </footer>
  </body>
</html>

