html {
}

body {
  margin: auto;
  width: 1080px;
  background-color: white;
  border: 8px solid gray;
  font-family: Verdana, Geneva, sans-serif;
}

.container {
  overflow: hidden;
  margin: 0px;
}

#page {
  margin: 10px 30px 30px 0px;
  min-height: 600px;
  overflow: hidden;
}

#header {
  margin-bottom: 20px;
  padding-left: 20px;
}

#header .title {
  font-size: 300%;
}

#content {
  float: right;
  width: 780px;
}

#content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#summaries .title, #post .title {
  font-size: 200%;
}

.tags {
  color: gray;
  font-size: 80%;
  margin: 0px;
}

.tags span {
  margin-right: 5px;
}

#summaries .date, #post .date {
  float: right;
}

#summaries .summary {
  margin-top: 10px;
}

#menu {
  position: absolute;
  top: 8px;
  float: left;
  background: linear-gradient(to bottom, gray, white);
  width: 200px;
  min-height: 400px;
}

#menu a {
}

#menu ul {
  padding-left: 0px;
  list-style-type: none;
}

#menu ul.level1 {
  padding-top: 120px;
  margin-left: 70px;
}

#menu li.child:first-child::before {
  content: " ↳";
}

#menu li.child:not(:first-child)::before {
  margin-left: 15px;
  content: "  ";
}

#menu li.separator {
  margin-bottom: 15px;
}

#menu .simplelink:visited {
  color: black;
}

.simplelink {
  text-decoration: none;
  color: black;
}

.simplelink:visited {
  color: #660066;
}

.back::before {
  content: "↢ ";
}

.back:visited {
  color: black;
}

.read-more::after {
  content: " ↣";
}

.simplelink:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding-bottom: 20px;
}

