html {
  overflow: hidden;
  overflow-y: scroll;
}

body {
  margin: auto;
  width: 1080px;
  background-color: white;
  border: 8px solid gray;
  font-family: Verdana, Geneva, sans-serif;
}

.container {
  overflow: hidden;
  margin: 0px;
}

#page {
  margin: 0px 0px 30px 0px;
  min-height: 600px;
  overflow: hidden;
}

#header {
  padding-left: 200px;
  background-color: gray;
  color: white;
  vertical-align: middle;
  height: 120px;
  line-height: 120px;
}

#header .title {
  font-size: 300%;
}

#content {
  float: right;
  width: 750px;
  padding: 20px 60px 20px 0px;
  text-align: justify;
}

#summaries .title, #post .title {
  font-size: 200%;
}

#summaries {
  margin-top: 22px;
}

.tags {
  color: gray;
  font-size: 80%;
  margin: 0px;
}

.tags span {
  margin-right: 5px;
}

#summaries .date, #post .date {
  float: right;
}

#summaries .summary {
  margin-top: 10px;
  margin-bottom: 50px;
}

#menu {
  float: left;
  background: linear-gradient(to bottom, gray, white);
  width: 200px;
  min-height: 400px;
}

#menu a {
}

#menu ul {
  padding-left: 0px;
  list-style-type: none;
}

#menu ul.level1 {
  margin-left: 70px;
}

#menu li.parent {
  font-weight: bold;
}

#menu li.child {
  font-weight: normal;
  margin-left: 15px;
}

#menu li.separator {
  margin-bottom: 15px;
}

#menu .simplelink:visited {
  color: black;
}

#tagoverlay {
  transform: rotate(-90deg);
  transform-origin: 0 0;
  position: relative;
  top: 200px;
  left: 6px;
}

#tagoverlay span {
  font-size: 300%;
  letter-spacing: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.simplelink {
  text-decoration: none;
  color: black;
}

.simplelink:visited {
  color: #660066;
}

.back::before {
  content: "↢ ";
}

.back:visited {
  color: black;
}

.read-more::after {
  content: " ↣";
}

.simplelink:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding-bottom: 20px;
}

pre, code {
  background-color: #eeeeee;
}
