<div id="menu">
  <ul class="level1">
    <li class="parent">About
      <ul class="level2">
        <li class="child">
          <a class="simplelink" href="/about/author/">author</a>
        </li>
        <li class="child">
          <a class="simplelink" href="/about/plumbing/">plumbing</a>
        </li>
      </ul>
    </li>
    <li class="separator"></li>
    <li class="parent">Tags</li>
    <ul class="level2">
      {{ range $tag, $idx := .Site.Taxonomies.tags }}
      <!--<li class="child"><a class="simplelink" href="tags/{{ $tag }}">{{ $tag }}</a></li>-->
      <li class="child">{{ $tag }}</li>
      {{ end }}
    </ul>
  </ul>

  {{ if isset .Params "tags" }}
  <div id="tagoverlay">
    <span>{{ index .Params.tags 0 }}</span>
  </div>
  {{ end }}
</div>
