<div id="summaries">
  {{ range first 10 (where .Data.Pages "Section" "post") }}
  <div class="summary">
    <p class="container">
      <span class="title">{{ .Title }}</span>
      <span class="date">/{{ .Date.Format "2 Jan 2006" }}/</span>
    </p>
    <p class="tags">
      {{ range $tag := .Params.tags }}
      <span>{{ $tag }}</span>
      {{ end }}
    </p>
    <p class="body">{{ .Summary }}</p>
    <a class="simplelink read-more" href="{{ .Permalink }}" >Read the whole thing. Now!</a>
  </div>
  {{ end }}
</div>
